body {
    margin: 0 auto;
}
header{
    background-color:black;
    margin-bottom: 20px;
    color:white
}

h2 {
    padding: 10px 10px;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul {
    background-color: ghostwhite;
}


table {
    position: relative;
}

th {
    padding-left: 3.2px;
}

td {
    border: 1px solid black;
}


#shops > table > tr:nth-of-type(1) {
    position: absolute;
    left:52px;
    top: -55px;
    padding-left: 1px;

}

#shops {
    margin-top: 100px;
    margin-left: 20px;
}

#shops > table > tr > td:not(:first-child) {
    position: relative;
    left:4px;
    color:black;
    padding-left: 30px;
    padding-top: 5px;

}


#shops > table > tr > td:nth-of-type(16) {
    color:red;
}

#shops > table > tr:last-child > td:nth-of-type(16) {
    font-weight: 700;
    font-size: 18px;

}

/* nav ul li a {
    display: block;
    position: absolute;
    top:80px;
    margin:0;
    text-decoration: none;
    color:white;
    background-color: black ;
    font-size: 1.5em;
} */


nav ul {
    list-style-type: none;
}

label {
    padding-right: 10px;
    padding-bottom: 20px;
}

input {
    padding: 5px;
    margin:10px;
    text-align: center;
}

form {
    margin-left:20px ;
    width:50%;
    background-color: black;
    color:blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border: none;
    /* grid-template-rows: 1fr; */
}

input[type="submit"] {
    background-color: white;
    border-radius: 3px;
    border : 1px solid black;
    color:black;
    padding: 10px;
    cursor: pointer;

}

.textfield {
    text-align: center;
    align-content: center;
    padding: 70px 20px ;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    line-height: 1.5;
}