a {
    text-decoration: none;
    color: black;
    width:50%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 1.2em;
}

a:hover {
    font-size: 20px ;
    color:cadetblue;
}

header{
    background-color:black;
    margin-bottom: 30px;
}
ul {
list-style-type: none ;
background-color: ghostwhite;
padding: 20px;
}

body{
margin: 30 auto;
color:wheat;
}

main {
    background-color: black;
    text-align: center;
    font-family: Arial;
}

.Contact {
    padding-bottom:50px;
}
.our-products {
    display:flex;
    flex-wrap: wrap;
    /* grid-template-rows: 1fr 1fr; */
}

.our-products img {
    width: 300px;
    flex: 1 1 50px;
}

h3 {
    font-size: 1.5em;

}

h2 {
    padding-top: 10px;
    text-align: center;
    font-family: 'Zilla Slab Highlight', cursive;
    font-size:2em;
}

.about-business {
    padding:50px;
    width:800px;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}